
#nav {
  display: flex;
  justify-content: center;

  z-index: 3;

  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;

  color: var(--block-text-color);
  font-weight: 700;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: var(--block-text-color);
  background: white;
  border-radius: 0;

  .menu-item {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;

    text-decoration: none;

    transition: color .3s;

    > div {
      display: flex;
      height: 100%;
    }

    &:hover {
      color: var(--block-shadow-color);

    }

    svg, path {
      fill: var(--block-shadow-color);
    }

    svg {
      width: 20px;
      margin-right: 15px;
    }
  }
}
